menu "Example configuration"

	config WIFI_SSID
		string "TNT_109B3"
		default "AuCo_Tret1a"
		help
			Enter the SSID of the wifi network

	config WIFI_PASSWORD
		string "1231231231"
		default "999999999"
		help
			Enter the password of the wifi network


	config ID_DEVICE
		string "ID in email"
		default "1583296319374"
		help
			Enter the ID

	config NUMBER_DEVICE
	int "NUMBER OPEN DEVICE"
	default 0
	help
		Enter the NUMBER DEVIDE

	config URL
		string "Creator Page"
		default "http://192.168.1.10:6969/creator"
		help
			Enter the URL

endmenu